body {
	background-color: #333;
	    padding: 0;
    margin: 0;
}


#FooterOptions {
	position: fixed;
    height: auto;
    width: 100%;
    background: #993300;
    bottom: 0;
}

#FooterOptions button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding: 6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#FooterOptions button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
#FooterOptions button:active {
	position:relative;
	top:1px;
}

#FooterOptions #bottomButtons input{
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding: 6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}


/*==============================================================*/
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu
{
	border-top-right-radius: 40px ;
	border-bottom-right-radius: 40px ;
	position: absolute;
	width: 300px;
	margin: 0 0 0 0px;
    padding: 20px;
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#optionsSpan
{
	cursor: pointer;
}

#MainMenu {
	display: inline;
}

#MainInstruction{
	display: none;
}

#MainOptions{
	display: none;
}

#MainLoad{
	display: none;
}

#MainGame {
	display: none;
	color: white;
}

#MainGame img{
	float: right;
	width: 50px;
}


button.start, button.load, button.instruction{
	width: 100%;
	box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px; 
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194); 
	border-radius: 10px; 
	border: 1px solid rgb(51, 48, 41); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(80, 87, 57); 
	font-family: Arial; 
	font-size: 15px; 
	font-weight: bold; 
	text-decoration: none; 
}

button.loadMenu, button.saveMenu, button.optionsMenu{
	width: 25%;
	box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px; 
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194); 
	border-radius: 10px; 
	border: 1px solid rgb(51, 48, 41); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(80, 87, 57); 
	font-family: Arial; 
	font-size: 18px; 
	font-weight: bold; 
	text-decoration: none; 
}

input[name="pliki"]{
	text-align: center;
	display: inline-block; 
	color: rgb(80, 87, 57); 
	font-family: Arial; 
	font-size: 18px; 
	font-weight: bold; 
	text-decoration: none; 
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194); 
	border-radius: 10px; 
	border: 1px solid rgb(51, 48, 41); 
}

@media only screen and (max-width: 1920px){
	input[name="pliki"] {
		width: 35%;
	  }
	button.loadMenu,button.saveMenu,button.optionsMenu{
		width: 35%;
	}
	.MainInstruction{
		font-size: 20px;
	}
}

@media only screen and (max-width: 720px){
	input[name="pliki"] {
		width: 65%;
	  }
	button.loadMenu,button.saveMenu,button.optionsMenu{
		width: 65%;
	}
	.MainInstruction{
		font-size: 15px;
	}
}

@media only screen and (max-width: 320px){
	input[name="pliki"] {
		width: 90%;
	  }
	button.loadMenu,button.saveMenu,button.optionsMenu{
		width: 90%;
	}
	.MainInstruction{
		font-size: 12px;
	}
}

#menuToggle{
	padding-top: 8px;
	padding-bottom: 8px;
}

#optionsSpan{
font-family: "Arial Black", Gadget, sans-serif;
font-size: 150%;
letter-spacing: 1px;
word-spacing: -5px;
color: #BCBCBC;
font-weight: bold;
text-decoration: underline solid #BCBCBC;
font-style: normal;
font-variant: small-caps;
text-transform: uppercase;
text-shadow: 2px 2px 11px #000000;
}

#MainInstruction{
font-family: "Arial Black", Gadget, sans-serif;

letter-spacing: -0.6px;
word-spacing: -0.2px;
color: #CDD1D1;
font-weight: 700;
text-align: center;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
}

.dead {
	background-color: #993300;
	width: 15px;
	height: 15px;
}

.live{
	background-color: #bbdaf7;
	width: 15px;
	height: 15px;
}